@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    font-family: "Ubuntu", sans-serif;
}
.home-container{
    width: 95%;
    margin: 0 auto;
}
.button{
    background-color: #00A651;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

@media screen and (min-width: 640px){
    .home-container{
        max-width: 1170px;
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1024px){
    .home-container{
        max-width: 1170px;
        width: 85%;
        margin: 0 auto;
    }
}